a:hover {
	color: #FB13A7;
	text-decoration: none;
}
body {
	background: url('../image/footer-pink.png') repeat-x scroll 0 bottom #7A0951;
}

#wrapper {
	background: url('../image/glass-pink.jpg') no-repeat scroll center 0 #7A0951;
}

#main-menu .menu-left {
	background: url('../image/menu-flip-pink.png') no-repeat scroll 0 0 transparent;
}   

#main-menu .menu-middle {
    background: url('../image/menu-flip-pink.png') repeat-x scroll 0 -57px transparent;
}

#main-menu .menu-right {
    background: url('../image/menu-flip-pink.png') no-repeat scroll 0 -114px transparent;
}
#main-menu .menu a:hover {
background: url('../image/menu-flip-pink.png') 0 -171px repeat-x;
}
#currency a:hover {
	color: #FB13A7;
}
#currency a b {
	color: #FB13A7;
	text-decoration: none;
}
#header #cart .heading a:hover {
	color: #FB13A7;
}
#header #welcome a {
	color: #FB13A7;
}
#header .links a:hover {
	color: #FB13A7;
}
#menu > ul > li:hover {
	background: url('../image/menu-flip-pink.png') 0 -171px repeat-x;
}
#menu > ul > li > div {
	border: 1px solid #a10f6c;
	background: #7a0951;
}
#menu > ul > li ul > li > a:hover {
	background: #a10f6c;
}
.breadcrumb a {
	color: #FB13A7;
}
.breadcrumb a:hover {
	color: #7A0951;
}
.box-left .box-product-left .name a:hover {
	color: #FB13A7;
}
.box-product .name a:hover {
	color: #FB13A7;
}
.box-product .price {
	color: #FB13A7;
}
.box-category > ul > li > a:hover {
	color: #FB13A7;
}
.product-compare a {
	color: #FB13A7;
}
.product-compare a:hover {
	color: #7A0951;
}
.product-list .name a:hover {
	color:#FB13A7;
}
.product-grid .name a:hover {
	color: #FB13A7;
}
.product-grid .price {
	color: #FB13A7;
}
.product-grid .wishlist a:hover {
	color: #FB13A7;
}
.product-list .compare a:hover, .product-list .wishlist a:hover {
	color: #FB13A7;
}
.product-grid .compare a:hover {
	color: #FB13A7;
}
.product-info .description a {
	color: #FB13A7;
}
.product-info .description a:hover {
	color: #7A0951;
}
.product-info .review > div > span {
	color: #FB13A7;
}
#powered a{
	color: #FB13A7;
}
#powered a:visited{
	color: #FB13A7;
}
#powered a:hover{
	color: #7A0951;
}
#twitter li span a {
    color: #FB13A7;
}

#twitter li span a:hover {
    color: #7A0951;
}